@model Udemy.Models.Materia

@{
    ViewBag.Title = "DetallesMateria";
}

<h2>Detalles</h2>

<div>
    <h4>Materia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            Maestro
        </dt>

        <dd>
            @Udemy.Controllers.MateriaController.NombreMaestro(Model.IDMaestro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.ID }) |
    @Html.ActionLink("Regresar", "Index")
</p>
