@model IEnumerable<Udemy.Models.Materia>

@{
    ViewBag.Title = "Materias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Materias</h2>

<p>
    @Html.ActionLink("Agregar", "Agregar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Maestro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Nombre)
    </td>
    <td>
        @Udemy.Controllers.MateriaController.NombreMaestro(item.IDMaestro)
    </td>
    <td>
        @Html.ActionLink("Editar", "Editar", new { id = item.ID }) |
        @Html.ActionLink("Detalles", "DetallesMateria", new { id = item.ID }) |
        @Html.ActionLink("Eliminar", "EliminarMateria", new { id = item.ID })
    </td>
</tr>
}

</table>
