@model IEnumerable<Udemy.Models.Nota>

@{
    ViewBag.Title = "Notas";
}

<h2>Notas</h2>

<p>
    @Html.ActionLink("Agregar notas", "Agregar")
</p>

@using (Html.BeginForm())
{
    <p>
        Buscar por nombre: @Html.TextBox("SearchString")
        <input type="submit" value="Buscar" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Nombres", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            Materia
        </th>
        <th>
            Nota 1
        </th>
        <th>
            Nota 2
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Udemy.Controllers.NotaController.NombreAlumno(item.IDAlumno)
            </td>
            <td>
                @Udemy.Controllers.NotaController.NombreMateria(item.IDMateria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota2)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.ID }) |
                @Html.ActionLink("Detalles", "DetallesNota", new { id = item.ID }) |
                @Html.ActionLink("Eliminar", "EliminarNota", new { id = item.ID })
            </td>
        </tr>
    }

</table>
